/**
  BACKGROUND
*/
.background-container {
  background-image: linear-gradient(to bottom right, #FFE0B2, #FFCC80, #FFB74D);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/**
  TITULO
*/
.titulo {
  text-align: center;
  border: 2px solid #FFF;
  border-radius: 8px;
  padding: 10px;
  color: #FFF;
  background-color: transparent;
  display: inline-block;
  margin: 20px;
}

/**
  BOTONES
*/
.tamanio {
  width: 100px;
}