/**
  BACKGROUND
*/
.background-container {
    background-image: linear-gradient(to bottom right, #FFE0B2, #FFCC80, #FFB74D);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/**
    TITULO PRONCIPAL
*/
.titulo-principal {
    text-align: center;
    border: 2px solid #FFF;
    border-radius: 8px;
    padding: 10px;
    color: #FFF;
    background-color: transparent;
    display: inline-block;
    margin: 20px;
}

/**
    TITULO CAMPOS
  */
.titulo {
    text-align: center;
    border: 2px solid #FFF;
    color: #FFF;
    background-color: black;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    margin: 0;
}

/**
    FONDO DATOS
*/
.background-datos {
    background-color: rgba(240, 240, 240, 0.5);
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
}